*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    top: 50px;
    font-size: 50px;
    text-transform: capitalize;
    background-color: antiquewhite;
    border-radius: 10px;
    
}

.quiz-in ul, .quiz-in ul label {
    cursor: pointer;
}
.quiz{
    background-color: aliceblue;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.6);
}
.quiz-in{
    padding: 25px;
}
ul{
    list-style-type: none;
    
}
h2{
    padding: 5px;
   
}
li{
    padding: 5px;
    
    
}


#submit{
    width: 100%;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    
}
#submit:hover{
    background-color: rgb(120, 23, 211);;
}